
.category{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 4px;
}

.strip{
    background: yellow;
     width: 95%; 
     cursor: pointer;
}

.more{
    font-weight: 500;
    cursor: pointer;
    
}

.pImg{
    width: inherit;
    height: 160px;
    border-radius: 6px;
}

.productOwner{
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.itemName{
    font-size: 18px;
    color: yellow;
    font-weight: bold;
}

@media(max-width: 425px){
    .category{
        font-size: 20px;
        cursor: pointer;
    }
}
